body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

  
.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 400px;
}

.square {
  height: 100px;
  flex: 0 0 32%;
  border: 1px solid lightgrey;
  margin-bottom: 5px;
}

.square-item {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 55px;
  font-weight: 700;
}

.square-win {
  border: 2px solid green;
}

.disabled {
  cursor: not-allowed;
}

.chip.chip-md {
  height: 42px;
  line-height: 42px;
  border-radius: 21px;
}

.chip.chip-md .close {
  height: 42px;
  line-height: 42px;
  border-radius: 21px;
}

li:hover {
  cursor: pointer;
  background-color: yellow;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
}

.create-game {
  margin: 3rem;
}
